{**
 * @author Leonardo Allende <alnux@ya.ru> 2015
 *
 * @param string   $site_tile
 * @param string   $username, $email, $password_reset_token
 *}
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	    <title>Resetování hesla</title>
	</head>
	<body>
	    <p>Ahoj {$username},</p>

	    <p>Máte nové heslo , klikněte prosím <a n:href="//Sign:signin">zde</a> se přihlásit.</p>

	    <p>{$site_title}</p>
	</body>
</html>