{**
 * @author Leonardo Allende <alnux@ya.ru> 2015
 *
 * @param string   $site_tile
 * @param string   $username, $email, $password_reset_token
 *}
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	    <title>Obnovit heslo</title>
	</head>
	<body>
	    <p>Ahoj {$username},</p>

	    <p>Chcete-li obnovit heslo , prosím klikněte na <a n:href="//Sign:resetpass hash => $password_reset_token">odkaz</a> .</p>

	    <p>{$site_title}</p>
	</body>
</html>