{**
 * @author Leonardo Allende <alnux@ya.ru> 2015
 *
 * @param string   $site_tile
 * @param string   $username, $email, $auth_key
 *}
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	    <title>Přihlásit Se</title>
	</head>
	<body>
	    <p>Ahoj {$username},</p>

	    <p>Chcete-li aktivovat svůj účet , prosím klikněte na <a n:href="//Sign:validate hash => $auth_key">odkaz</a> .</p>

	    <p>Díky a vítejte {$site_title}</p>
	</body>
</html>