{**
 * @author Leonardo Allende <alnux@ya.ru> 2015
 *
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
{block content}
<div id="banner">
	<h1 n:block=title>StartBaseProyect</h1>
	Welcome to Czech Republic.
</div>
{/block}
