{**
 * @author Leonardo Allende <alnux@ya.ru> 2015
 *
 * @param string   $site_tile
 * @param string   $username, $email, $password_reset_token
 *}
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	    <title>Contraseña reajustada</title>
	</head>
	<body>
	    <p>Hola {$username},</p>

	    <p>Ya tiene una nueva contraseña, por favor haz click <a n:href="//Sign:signin">aqui</a> para ingresar .</p>

	    <p>{$site_title}</p>
	</body>
</html>