{**
 * @author Leonardo Allende <alnux@ya.ru> 2015
 *
 * @param string   $site_tile
 * @param string   $username, $email, $auth_key
 *}
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	    <title>Sign Up</title>
	</head>
	<body>
	    <p>Hi {$username},</p>

	    <p>To activate your account please click on <a n:href="//Sign:validate hash => $auth_key">this link</a> .</p>

	    <p>Thanks and welcome to {$site_title}</p>
	</body>
</html>